<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Munsell Converter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/base.css" rel="stylesheet" media="screen">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 well">
                    <div class="text-center">
                        <h1><a href="/">{% block header_text %}{% endblock %}</a></h1>
                        <br>
                        <form class="form-inline" role="form" action={% url "results" %}  method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="id_munsell_entry">Munsell Color To Convert</label>
                                    <input class="form-control input-lg" name="munsell_color" id="id_munsell_entry" placeholder="Enter a Munsell Color" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="_fuzzy_match" id="id_fuzzy_btn" class="btn btn-primary btn-lg">Fuzzy Match</button>
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="_exact_match" id="id_exact_btn" class="btn btn-default btn-lg">Exact Match</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        {% block info %}{% endblock %}
                        {% block results %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="text-center footer">
                <p>&copy; <a href="http://halescode.com">Halescode</a> {% now "Y" %}</p>
            </div>
        </div>

        <!-- SCRIPTS -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        {# <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> #}
        {% block extra_scripts %}{% endblock %}
        <!-- END SCRIPTS -->
        
    </body>

</html>
