<html>
    <head>
        <title>Munsell Converter</title>
    </head>
    <body>
        <h1>Munsell Converter</h1>
        <form method="POST">
            {% csrf_token %}
            <input name="munsell_color" id="id_munsell_entry" placeholder="Enter a Munsell color" />
        </form>
        <div id="id_match_count">{{ rgb_vals|length }} matches found:</div><br>
        {% for rgb_val in rgb_vals %}
            <div class="rgb_value">{{ rgb_val }}</div>
        {% endfor %}
    </body>
</html>
