{% extends 'mcolor/base.html' %}

{% block header_text %}munverter{% endblock %}

{% block extra_css %}
    <link href="/static/css/footable.core.css" rel="stylesheet" media="screen">
{% endblock %}

{% block info %}
<div class="panel panel-default">    
    <div class="panel-heading text-center">
        <h4>Munsell Color Conversion For Everyone!</h4>
    </div>

    <div class="panel-body">
        <div id="intro">
            <p class="lead">What does this do?</p>
            <p>Given all or part of a Munsell Color, Munverter will return the corresponding name, RGB and hexadecimal 
            values. Munverter contains mostly soil colors at this point, making it particularly useful to 
            Archaeologists, Soil Scientists, etc.  The eventual goal is to create a complete reference system, but we
            aren't there yet. If you find a bug or think of something else you'd like it to do, you can 
            <a href="http://halescode.com/#contact">contact us.</a> 
            <p class="lead">How do I use it?</p>
            <p>All you have to do is type your munsell color in the box up top, then click on one of the match buttons.
            Here are a couple of entry examples. Although if you click the <em>Exact Match</em> button only the first 
            two will return anything. More on that later.</p>
            <ul>
                <li>5yr 4/6</li>
                <li>N 5</li>
                <li>5y</li>
                <li>n</li>
            </ul>
            <p class="lead">What's the difference between Fuzzy and Exact Matches?</p>
            <p>The <em>Fuzzy Match</em> button will return every munsell color that contains whatever you've entered in the search box.
            The <em>Exact Match</em> button is far pickier and will only return perfect matches. Try it out and it'll make sense.</p>
            <p class="lead">Why didn't it work?</p>
            <p>If you're sure you've entered a valid munsell color (and not the word 'hamster' or something) but
            no results were returned, we probably haven't added that color yet. If you want us to
            add your color, simply <a href="http://halescode.com/#contact">send us</a> the Munsell Color (5YR 5/4) and it's offical name ('Reddish Brown') and
            we'll take care of the rest!</p>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}

<script src="/static/js/footable.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.footable').footable();
    });
</script>

{% endblock %}
